.jumbotron {
    background-image: url("pic\ of\ me.jpeg");
    background-size:contain;
    color: red;
    border-style:groove;
    text-align: center;
}
p {
    color: red;
}
a {
    color: red;
}
h3 {
    color: red;
}
.table {
    color:red;
}
.navnav {
    background-color:#FED3D3;
    color:darkgray;
}